In [1]:
import pickle
class Rajesh:
    def __init__(self,a,b,c):
         self.a=a
         self.b=b
         self.c=c
    def name(self):
         print("first value",self.a)
         print("second value",self.b)
         print("third value",self.c)
with open("rajesh.plk","wb") as f1:
 obj=Rajesh(100,200,300)
 pickle.dump(obj,f1)
 print("pickling is done")
with open("rajesh.plk","rb") as f2:
 obj=pickle.load(f2)
 obj.name()
 print("unplicking is done")

pickling is done
first value 100
second value 200
third value 300
unplicking is done

In [2]:
import pickle
class Rajesh:
     def __init__(self,a,b,c):
         self.a=a
         self.b=b
         self.c=c
     def name(self):
         print("first value",self.a)
         print("second value",self.b)
         print("third value",self.c)
with open("rajesh2.pkl","wb") as f1:
 obj=Rajesh(100,"maddireddy","rajeshreddy")
 pickle.dump(obj,f1)
 print("pickling is done")

pickling is done

In [3]:
with open("rajesh2.pkl","rb") as f2:
 obj=pickle.load(f2)
 obj.name()
 print("unplickling is done")

first value 100
second value maddireddy
third value rajeshreddy
unplickling is done

In [4]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import pickle
df=pd.read_csv("homeprices.csv")
df1=df.drop("price",axis="columns").values
df1
df2=df.price.values
df2
obj=LinearRegression()
obj.fit(df1,df2)
with open("rajesh3.pkl","wb")as f1:
 pickle.dump(obj,f1)
 print("pickling is done")

pickling is done

In [5]:
with open("rajesh3.pkl","rb") as f2:
 obj=pickle.load(f2)
 print(obj.predict([[5000]]))

[859554.79452055]

In [6]:
import pickle
import pandas as pd
from sklearn.linear_model import LinearRegression
df=pd.read_csv("homeprices1.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
from sklearn.impute import SimpleImputer
import numpy as np
obj=SimpleImputer(strategy="mean")
x=df[["bedrooms"]].values
np.set_printoptions(suppress=True)
df[["bedrooms"]]=obj.fit_transform(x)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.2   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
x=df.drop("price",axis="columns").values
x
y=df.price.values
y
obj=LinearRegression()
obj.fit(x,y)
print(obj.predict([[3000,4,15]]))

[601483.40843428]

In [9]:
obj=LinearRegression()
obj.fit(x,y)
with open("rajesh4.pkl","wb") as f1:
 pickle.dump(obj,f1)
 print("pickling is done")

pickling is done

In [15]:
import pickle
class Rajesh:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def display(self):
        print("enter first number",self.a)
        print("enter second number",self.b)
        print("enter third number",self.c)
with open("rajesh4.pkl","wb")as f1:
 x=Rajesh(100,200,300)
 pickle.dump(x,f1)
 print("pickling is done")

pickling is done

In [16]:
with open("rajesh4.pkl","rb")as f2:
 obj=pickle.load(f2)
 obj.display()
 print("unpickling is done")

enter first number 100
enter second number 200
enter third number 300
unpickling is done

In [17]:
class Rajesh:
     def __init__(self,a,b,c):
         self.a=a
         self.b=b
         self.c=c
     def display(self):
         print(self.a)
         print(self.b)
         print(self.c)
with open("rajesh5.pkl","wb") as f1:
 x=Rajesh(100,"maddireddy","rajeshreddy")
 pickle.dump(x,f1)
 print("pickling is done")

pickling is done

In [18]:
with open("rajesh5.pkl","rb") as f2:
 obj=pickle.load(f2)
 obj.display()
 print("unplickling is done")

100
maddireddy
rajeshreddy
unplickling is done

In [24]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import pickle
df=pd.read_csv("homeprices.csv")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [25]:
x=df.drop("price",axis="columns").values
x

array([[2600],
       [3000],
       [3200],
       [3600],
       [4000]])

In [26]:
y=df.price.values
y

array([550000, 565000, 610000, 680000, 725000])

In [28]:
obj=LinearRegression()
obj.fit(x,y)
with open ("rajesh5.pkl","wb") as f1:
 pickle.dump(obj,f1)
 print("pickling is done")

pickling is done

In [30]:
with open("rajesh5.pkl","rb") as f2:
 obj=pickle.load(f2)
 print(obj.predict([[5000]]))
 print("unplickling is done")

[859554.79452055]
unplickling is done

In [33]:
import pandas as pd
a={ 
    "x":[1,2,3,4,5],
     "y":[10,20,30,40,50]
}
df=pd.DataFrame(a)
df
r_value=df.corr()["y"]
r_value

x    1.0
y    1.0
Name: y, dtype: float64

In [37]:
import pandas as pd
a={
    "x":[78,98,67,89,100],
    "y":[100,150,5000,350,1000]
}
df=pd.DataFrame(a)
r_value=df.corr()["y"]
r_value

x   -0.702555
y    1.000000
Name: y, dtype: float64